/* background: #2E333B
 * background-dark: #050A16
 * teal: #00CAA0
 * nav item hover: #393F47;
 * nav item selected: #404751;
 */

body {
  font-family: "Arial", sans-serif;
  letter-spacing: 2px;
  background-color: #050A16;
  margin: 0;
  padding: 0;
}
main {
  width: 100%;
  height: 100%;
}
.logo {
  position: absolute;
  left: 0px;
  padding-top: 10px;
  width: 180px;
  height: 80px;
}
nav {
  background-color: #050A16;
  padding-top: 20px;
  position: absolute;
  left: 0px;
  top: 90px;
  bottom: 0px;
  width: 180px;
}
.page {
  background-color: #2E333B;
  display: inline-block;
  position: absolute;
  left: 180px;
  right: 0px;
  top: 0px;
  height: 100%;
}
.title {
  text-transform: uppercase;
  text-align:center;
  padding-top: 25px;
  padding-bottom: 10px;
  width: 100%;
  color: #00CAA0;
  font-size: 36px;
}
.navitem {
  margin-top: 2px;
  list-style-type: none;
  text-align: center;
  background-color: #2E333B;
  height: 50px;
  cursor: default;;
  color: #00CAA0;
}
.navitem:hover {
  background-color: #393F47;
}
.navselected {
  background-color: #404751;
}
.navtitle {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 15px;
  display: inline-block;
}
.about {
  display: inline-block;
  color: #00CAA0;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 45px;
  margin-left: auto;
  margin-right: auto;
}
@media(max-height: 520px) {
  .about {
    display: none;
  }
}
